@if (isOpen) {
  <div class="modal modal-open">
    <div
      class="modal-box"
      [ngClass]="{
        'max-w-md': size === 'sm',
        'max-w-2xl': size === 'md',
        'max-w-4xl': size === 'lg',
        'max-w-6xl': size === 'xl',
        'w-11/12': size === 'full',
        'max-w-none': size === 'full',
      }"
    >
      <button
        type="button"
        aria-label="Cerrar modal"
        class="btn btn-sm btn-circle btn-ghost absolute right-4 top-4"
        (click)="close()"
      >
        X
      </button>
      <ng-content></ng-content>
    </div>
    <button
      type="button"
      class="modal-backdrop"
      aria-label="Cerrar modal"
      (click)="close()"
    ></button>
  </div>
}
